<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<body>


<div class="container">


    <h2>
        Manage Orders
    </h2>



    <table class="table">


        <tr>

            <th>ID</th>

            <th>Email</th>

            <th>Total</th>

            <th>Status</th>

            <th>Update</th>


        </tr>



        <tr th:each="order:${orders}">


            <td th:text="${order.id}">
            </td>


            <td th:text="${order.email}">
            </td>


            <td>
                ₹ <span th:text="${order.totalAmount}"></span>
            </td>


            <td>

                <form th:action="@{/admin/orders/status/{id}(id=${order.id})}"
                      method="post">


                    <select name="status"
                            class="form-select">


                        <option value="PENDING"
                                th:selected="${order.status == 'PENDING'}">
                            PENDING
                        </option>


                        <option value="PROCESSING"
                                th:selected="${order.status == 'PROCESSING'}">
                            PROCESSING
                        </option>


                        <option value="SHIPPED"
                                th:selected="${order.status == 'SHIPPED'}">
                            SHIPPED
                        </option>


                        <option value="DELIVERED"
                                th:selected="${order.status == 'DELIVERED'}">
                            DELIVERED
                        </option>


                        <option value="CANCELLED"
                                th:selected="${order.status == 'CANCELLED'}">
                            CANCELLED
                        </option>


                    </select>


                    <button type="submit"
                            class="btn btn-primary mt-2">

                        Update

                    </button>


                </form>


            </td>


        </tr>


    </table>


</div>


</body>


</html>