<nav th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="/home">
            E-Commerce
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/orders">My Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>

            </ul>

            <form class="d-flex" action="/products">

                <input class="form-control me-2"
                       name="keyword"
                       placeholder="Search">

                <button class="btn btn-success">
                    Search
                </button>

            </form>

            <a href="/logout"
               class="btn btn-danger ms-3">
                Logout
            </a>

        </div>

    </div>

</nav>