<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand"
           href="/home">
            🛒 ShopEase
        </a>


        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>


        <div class="collapse navbar-collapse"
             id="navbarNav">


            <ul class="navbar-nav me-auto">


                <li class="nav-item">
                    <a class="nav-link"
                       href="/home">
                        <i class="bi bi-house-fill"></i>
                        Home
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link"
                       href="/products">
                        <i class="bi bi-shop"></i>
                        Products
                    </a>
                </li>
                <li class="nav-item"
                    sec:authorize="hasRole('ADMIN')">

                    <a class="nav-link"
                       href="/admin/products/new">

                        <i class="bi bi-plus-circle"></i>

                        Add Product

                    </a>

                </li>

                <li class="nav-item"
                    sec:authorize="hasRole('ADMIN')">

                    <a class="nav-link"
                       href="/categories">

                        <i class="bi bi-tags-fill"></i>

                        Categories

                    </a>

                </li>


                <li class="nav-item">
                    <a class="nav-link"
                       href="/cart">

                        <i class="bi bi-cart-fill"></i>
                        Cart

                    </a>
                </li>


                <!-- NEW WISHLIST BUTTON -->

                <li class="nav-item">

                    <a class="nav-link"
                       href="/wishlist">

                        <i class="bi bi-heart-fill text-danger"></i>

                        Wishlist

                    </a>

                </li>


                <li class="nav-item">
                    <a class="nav-link"
                       href="/orders">

                        <i class="bi bi-bag-check-fill"></i>

                        My Orders

                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link"
                       href="/profile">

                        <i class="bi bi-person-circle"></i>

                        Profile

                    </a>
                </li>


            </ul>



            <form class="d-flex"
                  action="/products"
                  method="get">


                <input
                        class="form-control me-2"
                        name="keyword"
                        placeholder="Search">


                <button class="btn btn-success">

                    <i class="bi bi-search"></i>

                    Search

                </button>


            </form>



            <a href="/logout"
               class="btn btn-danger ms-3">

                <i class="bi bi-box-arrow-right"></i>

                Logout

            </a>


        </div>

    </div>

</nav>


</body>

</html>