<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Order History</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

    <h2 class="mb-4">Order History</h2>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

        <tr>

            <th>ID</th>
            <th>Customer</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Date</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="order : ${orders}">

            <td th:text="${order.id}"></td>

            <td th:text="${order.customerName}"></td>

            <td th:text="${order.email}"></td>

            <td>₹ <span th:text="${order.totalAmount}"></span></td>

            <td th:text="${order.orderDate}"></td>

        </tr>

        </tbody>

    </table>

    <a href="/products" class="btn btn-primary">

        Back to Products

    </a>

</div>

</body>

</html>