<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Order Success</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5 text-center">

    <div class="alert alert-success">

        <h2>🎉 Order Placed Successfully!</h2>

        <p>Thank you for shopping with ShopEase.</p>

        <a href="/products"
           class="btn btn-primary">

            Continue Shopping

        </a>

    </div>

</div>

</body>
</html>